// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Oswald', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$botticelli: #c6d8e3;
$neptune: #7BAABC;
$cBlue: #055096;
$hBlue: #5986AE;
$pBlue: #74A0CA;
$exBlue : #10213F;

$nav: #191f4b;

// Social Colours
$facebook: #3b5998;
$patreon: #f96854;
$youtube: #bb0000;
$forum: #0072BF;
$shop: #14556B;
$discord: #7289da;

// Other Colours
$neon: #75E9E8;
$danger: #DA5144;
$do: #31732B;